.raisedbox {
  border: 1px outset #999;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 30%;
}

.fl-login-form-box {
  width: 90%;
  margin: 0 5%;
}

.fl-login-input {
  width: 100%;
  margin: 10px 0;
}
.form-box {
  border: 1px solid #ece8e8;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  height: fit-content;
}
.form-box .row {
  margin: 20px 0;
}
.form-box input,
.form-box select,
.form-box textarea {
  display: block;
  width: 100%;
}
.form-box button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  width: fit-content;
}
.form-box button:hover {
  opacity: 0.9;
}
.form-box button a {
  color: white;
  text-decoration: none;
}
.form-box .back {
  background-color: #c0c0c0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  width: fit-content;
}
.form-box button:hover {
  opacity: 0.9;
}
.form-box button a {
  color: white;
  text-decoration: none;
}
